@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Dancing+Script:wght@400;500;600;700&display=swap');




body {
    font-family: "Advento Pro", sans-serif;
    padding: 0;
    margin: 0;
}


ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}


a {
    text-decoration: none;
    color: black;
}



/* ################### NAVBAR ###################### */

nav {
    overflow: hidden;
    background-color: #FFFAE1;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}

header li {
    float: right;
    font-size: 1.2em;
}


header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}

#logo {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    float: left;
}




/* ############# IMAGE PRINCIPALE ############ */

#imagePrincipale {
    padding-top: 60px;
    background: url(media/breakfast.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;

}


h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: antiquewhite;
    font-size: 6em;
    margin-top: 100px;
    text-shadow: 1px 3px 2px black;
}


#premierTrait {
    height: 1px;
    width: 25%;
    margin: 3px auto;
    background-color: #fffae1;
    box-shadow: 1px 3px 2px black;
}



h3 {
    /* font-family: 'Dancing Script', cursive; */
    font-family: "Advento Pro", sans-serif; 

    text-align: center;
    color: antiquewhite;
    font-size: 3em;
    text-shadow: 1px 3px 2px black;
}


/* ************** PRESENTATION ************** */

#Presentation {
    /* background-color: #fffae1; */
    padding : 10px 0px 100px 0px; 
}


#resume {
    padding: 0px 20%;

}


#Prestations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;
}



.imagesPrestations {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
} 

.imagesPrestations img {
    border-radius: 10px;
    box-shadow: 3px 4px 5px rgba(0,0,0, 0.7);
    height: 300px;
    width: 230px;


}



.imagesPrestations img:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.8s ease-in-out;
}


/* ************** BRUNCH ************** */

#brunch {
    /* height: 1400px; */
    /* width: 100%; */
    /* background-color: #fffae1; */
    /* padding: 1px 2px; */
    padding : 10px 0px 100px 0px; 

}


#brunch {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;
}

.brunchs {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
} 


.brunchs img {
    border-radius: 10px;
    box-shadow: 3px 4px 5px rgba(0,0,0, 0.7);
    height: 300px;
    width: 230px;
}



.brunchs img:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.8s ease-in-out;
}





/* *************** COFFEE ******************** */

#coffee {
    /* height: 1400px; */
    /* width: 100%; */
    /* background-color: #fffae1; */
    padding: 1px 2px;
}


#coffee h2 {
    padding-top: 60px;
}

#title h2 {
    padding-top: 60px;
}

/* #coffee li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;
} */

/* #coffe_milk {
    background: url(media/coffee2.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
} */


#coffee {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;
}


.cafe {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
} 

.cafe img {
    border-radius: 10px;
    box-shadow: 3px 4px 5px rgba(0,0,0, 0.7);
    height: 300px;
    width: 230px;
    
    
    /* background: url(media/coffee2.jpg);
    background-size: 200px;
    background-repeat: no-repeat; */
}




.cafe img:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.8s ease-in-out;
}














/* #coffee_black {
    background: url(media/coffee.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
} */

/* #coffe {
    background: url(media/coffee2.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
} */


/* #tea {
    background: url(media/tea2.jpg);
    background-size: 200px;
    background-repeat: no-repeat;

} */




#coffee li {
    margin: 65px 100px 0px 100px;
    /* height: 226px; */
    height: 300px;
    width: 15%;

    /* width: 55%; */
    max-width: 550px;
    float: left;
    box-shadow: 6px 6px 28px -1px rgba(0,0,0, 0.75);



    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 30px 10%; */
}

 
/* #coffee p {
    height: 45px;
    width: 235px;
    height: 45px;
    width: 150px;

    background-color: #01df74;
    background-color: #bb9b81;

    float: right;
    margin: 50px -180px;
    font-size: 1.3em;
    text-align: center;
    padding-top: 15px;
    box-shadow: 4px 4px 0 1px rgba(90,161,43, 1);
}  */


/* #coffee #coffe1, #black_coffee #coffe  #tea {
    float: right;
} */


/* #coffee #coffe1, #black_coffee #coffe  #tea {
    float: left;
    background-color: cyan;
    margin-left: -180px;
    box-shadow: -4px 4px 0 1px rgba(15,154,156, 1);
}  */






/* ************* FOOTER ***************** */

footer {
    background-color: #524A3A;
    color: #fffae1;
    padding: 20px 0 10px 0;
    text-align: center;
}


form {
    margin: 0 auto;
    max-width: 900px;
}

input, textarea, button {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'Advento Pro', sans-serif;
    border-radius: 8px;
}

textarea {
    height: 120px;
}


button {
    font-size: 1.5em;
    background-color: #fffae1;
}


button:hover {
    background-color: #39e5a0;
    color: #fffae1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

/* #deuxiemeTrait {
    height: 1px;
    width: 75%;
    background-color: #fffae1;
    margin: 60px auto;
} */




#copyrightEtIcons {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}

#copyright {
    width: 50%;
    text-align: left;
    color: #fffae1;
}

#icons {
    width: 50%;
    text-align: right;
}

#icons a {
    display: inline-block;
    padding: 0 15px;
    font-size: 1.3em;
    color: #fffae1;
}

#icons a:hover {
    transform: scale(1.5);
    transition: 0.1s;
}




